/* @import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
} */
/* 网格背景 */
.bdgrid {
  /* 背景基础设置 */
  height: 100%;
  width: 100%;
  background-size: 100% 100%;
  position: absolute;
  margin: 0;

  background:
	/* 水平条纹 */
    -webkit-linear-gradient(
      /*渐变方向:从上到下*/ top,
      /*最开始背景色*/ #8394b50b 0,/* 背景色 */
      /* 这几行用于控制网格线条粗细 */
      /*到3.5px均背景色*/ #8394b50b 3.5px,
      /*到4.3px过渡为浅蓝色线条色*/ #576e971c 4.1px, /* 线条色 */
      /*以此类推*/ #8394b50b 4.7px,
      #8394b50b 60px,
      #4f689506 60px
    ),
    /* 垂直条纹 */ -webkit-linear-gradient(left, /*最开始背景色*/ #8394b50b 0,
      /*到3.5px均背景色*/ #8394b50b 3.5px,
      /*到4.3px过渡为浅蓝色线条色*/ #576e971c 4.1px,
      /*以此类推*/ #8394b50b 4.7px,
      #8394b50b 60px,
      #4f689506 60px);
/* 网格大小参数 */
  -webkit-background-size: 20px 20px;
  -moz-background-size: 20px 20px;
  background-size: 20px 20px;
}
