/* @import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
} */
/* 网格 */
.bdgrid {
  height: 100%;
  width: 100%;
  background-size: 100% 100%;
  position: fixed;
  margin: 0;

  background:
	/* 水平条纹 */
    -webkit-linear-gradient(
      /*渐变方向:从上到下*/ top,
      /*最开始透明*/ #8394b50b 0,
      /*到3px均透明*/ #8394b50b 3.5px,
      /*到4.3px过渡为浅蓝色*/ #576e971c 4px,
      /*以此类推*/ #8394b50b 4.5px,
      #8394b50b 60px,
      #4f689506 60px
    ),
    /* 垂直条纹 */ -webkit-linear-gradient(left, /*最开始透明*/ #8394b50b 0,
      /*到3px均透明*/ #8394b50b 3.5px,
      /*到4.3px过渡为浅蓝色*/ #576e971c 4px,
      /*以此类推*/ #8394b50b 4.5px,
      #8394b50b 60px,
      #4f689506 60px);

  -webkit-background-size: 31px 31px;
  -moz-background-size: 31px 31px;
  background-size: 31px 31px;
  -webkit-background-size: 15px 15px;
  -moz-background-size: 15px 15px;
  background-size: 15px 15px;
}
/* 背景色 */
/* .bdkgc {
  opacity: 0.9;
  width: 100%;
  height: 100%;
  position: relative;
  background-image: linear-gradient(#f9f9f9, #f9f9f9);
  -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  background-size: 100% 100%;
} */
